@import url('components/navbar.css');
@import url('components/message.css');
@import url('components/signup.css');
@import url('components/login.css');
@import url('components/footer.css');
@import url('components/requrst.css');
@import url('components/home.css');
@import url('components/hotels.css');

@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');


.wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.welcome-banner{
    /* width: 30%; */
    /* height: 50%; */
    margin-top: 2%;
    margin-right: 50px;
    float: right;
    text-align: center;
    color: aliceblue;
    display: flex;
    align-items: baseline;
  
}

.logout-btns{
    /* width: 40%;
    height: 45%; */
    background: #35BCBF;
    border: 2px solid #FFFFFF;
    border-radius: 1000px;
    /* top: 50%; */
    padding: 15px 40px;
    margin-top: 30px;
    margin-left: 30px;
}





