@import url('components/navbar.css');
@import url('components/message.css');
@import url('components/signup.css');
@import url('components/login.css');
@import url('components/footer.css');
@import url('components/requrst.css');
@import url('components/home.css');
@import url('components/dashboard.css');
@import url('components/hotelReg.css');
@import url('components/hotelRooms.css');
@import url('components/loginHotel.css');
@import url('components/dashboard.css');
@import url('components/hotelHome.css');
@import url('components/hotelProfile.css');
@import url('components/addtaxiowner.css');
@import url('components/add_taxi_vehicle.css');
@import url('components/view_taxi_vehicle.css');
@import url('components/taxi_login.css');
@import url('components/taxi_signup.css');
@import url('components/taxi_home.css');
@import url('components/taxi_dashboard.css');
@import url('components/guide.css');
@import url('components/taxiDashboard.css');
@import url('components/v_taxi_dashboadrd3.css');
@import url('components/v_taxi_add_driver.css');
@import url('components/hotel_details_page.css'); 
@import url('components/hotelbookings.css');
@import url('components/taxi_dashboard2.css');
@import url('components/taxi_dashboard6.css');
@import url('components/taxi_dashboard7.css');
@import url('components/taxi_dashboard5.css');
@import url('components/taxi_dashboard7_1.css');
@import url('components/taxi_dashboard8.css');
@import url('components/taxi_dashboard8_1.css');
@import url('components/v_add_taxi_offer.css');
@import url('components/taxi_dashboard3_1.css');
@import url('components/contactus.css');
@import url('components/admin.css');
@import url('components/trip.css');
@import url('components/booking.css');
@import url('components/travelerDashboad.css');



@import url('components/1hotelHome.css');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');


:root{
    --dark: #03002E;
    --light:#2A9D8F;    /*42, 157, 143*/
    --gray:#687280;     /*211, 211, 211*/
    --yellow:#E9C46A;
    --darkyellow:#e8b122;
    --burgundy:#6c0E23;
    --snow:#F4EDED;
    --darker: #1f2937;
    --darkest: #111827;
}

*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body{
    background-color: #F2ECFF;
}
.wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
}

input{
    text-align: justify;
}

input[type="radio"]{
    -webkit-appearance: radio;
}


#hotel-select{
    border: none;
    background-color: white;
    padding-left: 5%;
    font-size: 1rem;
}



.welcome-banner{
    /* width: 30%; */
    /* height: 50%; */
    /* margin-top: 2%; */
    margin-right: 50px;
    float: right;
    text-align: center;
    color: aliceblue;
    display: flex;
    align-items: center;
  
}

.logout-btns{
    /* width: 40%;
    height: 45%; */
    background: #03002E;
    border: 2px solid #35BCBF;
    color: white;
    border-radius: 1000px;
    /* top: 50%; */
    padding: 15px 40px;
    margin-top: 30px;
    margin-left: 30px;
}

.profile-img{
    margin-top: 30px;
    margin-left: 30px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
}

.greeting{
    margin-top: 30px;
}

.logout-btns:hover{
    color: #03002E;
    background-color: #00C895;
}

/*Slider CSS*/

.carousel-wrapper {
    height: 400px;
    position: relative;
    width: 800px;
    display: block;
    margin: 50px auto ;
    border: 2px solid black;
  }
  
  .carousel-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px 50px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  .arrow{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px;
  }
  .arrow-prev {
    left: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
  
  }
  .arrow-next {
    right: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }
  
  [id^= "item"] {
    display: none;
  }
  .item-1 {
    z-index: 2;
    opacity: 1;
    background: url('img1.jpg');
    background-size: cover;
  }
  .item-2 {
    background: url('img2.jpg');
    background-size: cover;
  }
  .item-3 {
    background: url('img3.jpg');
    background-size: cover;
  }
  
  *:target ~ .item-1{
    opacity: 0;
  }
  #item-1:target ~ .item-1 {
    opacity: 1;
  
  }
  #item-2:target ~ .item-2, #item-3:target ~ .item-3 {
    z-index: 3;
    opacity: 1;
  } 

  .hotel-details-main-div{
    width: 80%;
    min-height: 50%;
    background: rgba(211, 211, 211, 0.3);
    display: flex;
}

.hotel-details-div-one{
    width: 50%;
}