@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

.hotel-labels-1{
    border: none;
    text-align: center;
    padding: 5px 10px;
    font-size: 1rem;
    color: #03002E;
}

hr{
    width: 80%;
    margin: auto;
    height: 5px;
    background:grey;
    border: none;
 }

.hotel-home-join-network{
    margin: 2% auto 2%;
    width: 80%;
    padding: 3%;
    background: rgba(42, 157, 143, 0.1);
}

.hotel-home-top-picks{
    margin: 2% auto 2%;
    width: 80%;
    padding: 3%;
    background: rgba(211, 211, 211, 0.3);
}

.hotel-ad-card{
    width: 25%;
    /* height: ; */
    display: flex;
    flex-direction: column;
    position: relative;
}

.hotel-ad-card-pic{
    border-radius: 0px;
}

.hotel-ad-card-desc{
    padding: 2% 5% 2%;
    background-color: white;
}

.dot{
    position: absolute;
    height: 40px;
    width: 40px;
    margin: auto;
    right: 4%;
    bottom: 30%;
    background-color: var(--darkyellow);
    border-radius: 50%;
    display: inline-block;
    z-index: 1;
    text-align: center;
    line-height: 40px;
}

/* input{
    width: 90%;
    height: 95%;
    padding: 15px;
} */

.btn-div{
    display:flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
}

.btn{
    width: 10%;

    height: 60px;
    text-align: center;
    background-color: #03002E;
    color: white;
    border-radius: 20px;
}


.btn:hover{
    color: #03002E;
    background-color: white;
}

.reg-btn{
    width: 10%;
    height: 60px;
    text-align: center;
    border-radius: 10px;
    color: white;
    background-color: #03002E;
    cursor: pointer;
    margin-top: 4%;
}
