 .app{
    display: flex;
    min-height: 100vh;
 }

 .sidebar{
    position: fixed;
    flex: 1 1 0;
    width: 250px;
    max-width: 250px;
    height: 100%;
    padding: 2rem 1rem;
    background-color: #777586;
    margin-top: 100px;
    color: #03002E;
    font-weight: 800;
 }
.sidebar-nav{
    width: 20%;
    height: 600px;
    float: left;

    background: #BEBEBE;
    text-align: center;
    z-index: -1;
}

 .sidebar h3{
    color: black;
    font-size: 0.75rem;
    text-transform: uppercase;
    margin-bottom: 0.5em;
 }

 .sidebar .menu{
    margin: 0 -1rem;
 }

 .sidebar .menu .menu-item{
    display: block;
    padding: 1rem;
    color: #03002E;
    text-decoration: none;
    transition: 0.2s linear;
 }

 .sidebar .menu .menu-item:hover,
 .sidebar .menu .menu-item.is-active{
    color: #35BCBF;
    background-color: white;
    border-right: 5px solid #35BCBF;
 }

 .right-side-content{
    margin-top: 100px;
    margin-left: 340px;
    width: 80%;
 }

 .right-side-content.h3{
    text-align: left;
    margin-left: 5%;
 }

 .profile-image{
    height: 300px;
    float: left;
    margin-left: 8%;
    text-align: center;
}

 hr{
    width: 86%;
    height: 5px;
    background:#35BCBF;
    border: none;
    margin-left: 8%;
 }

 /* @media(max-width: 768px){
    .menu-toggle{
        display: block;
    }
    .content{
        padding-top: 8rem;
    }
    .sidebar{
        position: fixed;
        top: 0;
        
    }
 } */

 .first-container{
   display: flex;
 }

 .profile-description{
   width: 50%;
   height: 40%;
 }

 .sub-description{
   display: flex;

 }

 .sub-sub{
   width: 50%;
 }

#pro-picture{
   height: 300px;
}

.profile-btn{
   width: 40%;
   height: 50px;
   background-color: #03002E;
   color: white;
   border-radius: 50px;
}

.profile-btn:hover{
   background-color: #35BCBF;
   color: #03002E;
}

#pro-picture-2{
   height: 200px;
}

.hotel-room-card{
   width: 15%;
   height: 350px;
   background-color: white;
}

.room-cards-row-1{
   width: 1800px;
   display: flex;
   padding: 30px;
   justify-content: space-around;
}

.card-pics{
   height: 30px;
}

ul{
   list-style: none;
}

.card-btn{
   width: 60%;
   height: 50px;
   background-color: black;
   color: white;
   border-radius: 50px;
}

.card-btn:hover{
   background-color: grey;
   color: black;
   border-radius: 50px;
}

.profile{
   text-align: center;
}

.h-title{
   width: 2000px;
   text-align: center;
   margin-left: -150px;
}

.btn-div-hotel{
   text-align: center;
}