 .app{
    display: flex;
    min-height: 100vh;
 }

 .sidebar{
    position: fixed;
    width: 14%;
    height: 100%;
    padding: 2rem 1rem;
    background-image: linear-gradient(#03002E, black);
    margin-top: 5%;
 }

.sidebar-nav{
    width: 20%;
    height: 600px;
    float: left;

    background: #BEBEBE;
    text-align: center;
    z-index: -1;
}

 .sidebar h3{
    color: black;
    font-size: 0.75rem;
    text-transform: uppercase;
    margin-bottom: 0.5em;
 }

 .sidebar .menu{
    margin: 0 -1rem;
 }

 .sidebar .menu .menu-item{
    display: block;
    padding: 1rem;
    color: white;
    text-decoration: none;
    transition: 0.2s linear;
 }

 .sidebar .menu .menu-item:hover,
 .sidebar .menu .menu-item.is-active{
    color: #03002E;
    background-color: white;
    border-right: 5px solid #35BCBF;
 }

 .right-side-content{
   margin-left: 16%;
   margin-top: 8%;
   width: 86%;
   float: right;
 }

 .right-side-content.h3{
    text-align: left;
    margin-left: 5%;
 }

 .profile-image{
    height: 300px;
    float: left;
    margin-left: 8%;
    text-align: center;
}


 hr{
    height: 5px;
    background:#35BCBF;
    border: none;
 }


 /* @media(max-width: 768px){
    .menu-toggle{
        display: block;
    }
    .content{
        padding-top: 8rem;
    }
    .sidebar{
        position: fixed;
        top: 0;
        
    }
 } */

 .first-container{
   display: flex;
 }

 .profile-description{
   width: 50%;
   height: 40%;
 }

 .sub-description{
   display: flex;

 }

 .sub-sub{
   width: 50%;
 }

#pro-picture{
   height: 300px;
}

.profile-btn{
   width: 40%;
   height: 50px;
   background-color: #03002E;
   color: white;
   border-radius: 50px;
}

.profile-btn:hover{
   background-color: #35BCBF;
   color: #03002E;
}

#pro-picture-2{
   height: 200px;
}

.hotel-room-card{
   width: 15%;
   height: 350px;
   background-color: white;
}

.room-cards-row-1{
   width: 1800px;
   display: flex;
   padding: 30px;
   justify-content: space-around;
}

.card-pics{
   height: 30px;
}

ul{
   list-style: none;
}

.card-btn{
   width: 60%;
   height: 50px;
   background-color: black;
   color: white;
   border-radius: 50px;
}

.card-btn:hover{
   background-color: grey;
   color: black;
   border-radius: 50px;
}

.profile{
   text-align: center;
}

.h-title{
   width: 2000px;
   text-align: center;
   margin-left: -150px;
}

.btn-div-hotel{
   text-align: center;
}

.hotel-profile-top{
   background-color: white;
   width: 80%;
   margin: auto;
   padding: 3%;
   display: flex;
}

.hotel-profile-top-containers{
   width: 50%;
}

#hotel-profile-photos{
   width: 100%;
}

#hotel-profile-top-right{
   text-align: center;
   display: flex;
   flex-direction: column;
}

#hotel-profile-sub-div{
   width: 100%;
   margin: auto;
}

.hotel-profile-sub-div-elements{
   width: 45%;
}

#hotel-middle-colon{
   width: 10%;
}

#hotel-profile-info-ul.li{
   line-height: 1.5rem;
}

#hotel-add-pics{
   width: 40%;
   height: 2rem;
}

#hotel-edit-info{
   width: 40%;
   height: 2rem;
   margin-top: 5%;
}