body {
    font-family: "Open Sans", sans-serif;
    height: 100%;
    margin: none;
}

.sidebar-nav{
    width: 20%;
    height: 500px;
    float: left;
    background: #2A2D33;
    text-align: center;
}

ul{
    list-style: none;
}

.dash-btn{
    height: 20%;
    width: 75%;
    border-radius: 20px;
}