.error-box {
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
  
    
    
    min-height: 280px;
    width: 40vw;
    margin: 100px auto;
    border-radius: 5px;
    background-color: #03002E;
  }
  .error-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
  }
  .error-h2 {font-family:Verdana; text-align:center;color:white;}
  .error-h3{text-shadow:2px 2px 3px black;color: white;text-align:center;}
  .error-btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
  margin-bottom:15;
  }
  
  /* Green */
  .error-success {
    border-color:white;
    color: white;background:none;
  }
  
  .error-success:hover {
    background-color: teal;
    color: white;;
  }
  