@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;700&family=Poppins:ital,wght@0,700;1,400&family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.white-space{
    margin-top: ;
    height: 10%;
    width: 100%;
    color: #03002E;
    display: inline-block;
}

.header-space{
    height: 150px;
    width: 100%;
}

.white-space{
    height: 10%;
    width: 100%;
}

#first-title{
    margin-left: 10%;
}

.scroll-bar{
    height: 20%;
    width: 100%;
}




