*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.hotel-page{
    display: inline;
    width: 100%;    
    color: #03002E;
    position: absolute;
}

.first-info{
    padding: 10%;
    width: 70%;
    height: 25%;
    box-shadow: 10px 10px;
}

.scnd-info{
    width: 70%;
    height: 25%;
    box-shadow: 10px 10px;
}

.thrd-info{
    width: 70%;
    height: 25%;
    box-shadow: 10px 10px;
}

.info{
    width: 50%;
    height: 20%;
}