.hotel-profile-completing-notice{
    background-color: rgba(163,44,196,.2);
    width: 60%;
    text-align: center;
    margin: auto;
    border-radius: 5px;
}

#hotel-profile-title-1{
    margin-top: 3%;
    margin-bottom: 2%;
    font-size: 2rem;
    text-align: center;
}

.hotel-profile-account-details{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
    width: 55%;  
    margin: auto;
    grid-column-gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

#upload-photo{
    background-color: lightgray;
    text-align: center;
}

#review-id{
    margin: auto;
    text-align: center;
}

.hotel-profile-service-providers{
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
}

.hotel-profile-account-details-1{
    margin-left: 17%;         
}

.hotel-profile-details-sub{
    width: 100%;
    border-radius: 20px;
}

.profile-info{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    text-align: center;
}

.review-div{
    width: 60%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.upload-section{
    width: 80%;
    background-color: rgba(0,98,204,.2);
}

.hotel-profile-1{
    display: flex;
    margin-top: 2%;
}

.hotel-profile-accdet{
    width: 50%;
}

.hotel-profile-accdet-1{
    width: 30%;
}

#extra-1{
    width: 20%;
    margin: auto;
}

#extra{
    width: 80%;
    margin: auto;
}

#extra-2{
    margin-top: 0;
}

.facilities-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px; /* space between columns, change as needed */
    grid-row-gap: 10px;
}

.profile-btn{
    margin: 0 auto;
    display: table;
    height: 45px;
    width: 30%;
    font-size: 1rem;
    border: none;
    color: white;
    background-color: #03002E;
    border-radius: 100px;
}
