*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.first-div{
    width: 100%;
    height: 25%;
}

.scnd-div{
    width: 100%;
    height: 25%;
}

.thrd-div{
    width: 100%;
    height: 25%;
}