.hotel-bookings-main-div{
    width: 90%;
    margin-top: 3%;
}

table{
    top: 25%;
    margin: auto;
    width: 100%; 
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0 2px 15px rgba(64,64,64,.7);
    border-radius: 12px 12px 0 0;
    overflow: hidden;
   
}
td , th{
    padding: 15px 20px;
    text-align: center;
}

th{
    background-color: #03002E;
    color: #fafafa;
    font-family: 'Open Sans',Sans-serif;
    font-weight: 200;
    text-transform: uppercase;

}

tr{
    width: 100%;
    background-color: #fafafa;
    font-family: 'Montserrat', sans-serif;
}

tr:nth-child(even){
    background-color: #eeeeee;
}

#booking-header-hr{
    width: 80%; 
    background-color: #03002E; 
    margin: auto;
}

.booking-btns{
    margin: auto;
    width: 80%;
}

.view-booking-btns{
    height: 3.1rem;
    font-size: 1.1rem;
    padding: 10px;
    box-shadow: none;
}

.view-booking-btns:hover{
    color: black;
    border-color: #35BCBF;
    background-color: #35BCBF;
    cursor: pointer;
}

.view-booking-btns.is-active{
    color: white;
    border-color: #03002E;
    background-color: #03002E;
}

#hotel-support-form{
    margin: auto;
    margin-top: 3%;
    width: 70%;
}

#hotel-support-desc{
    height: 60%;
}

.room-block{
    margin: 2% auto 2%;
    display: flex;
    width: 80%;
    padding: 3%;
    background-color: rgba(163,44,196,.2);
    text-align: center;
}

.sub-block{
    width: 33.33%;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

#btn-block{
    margin: 2% auto 2%;
    display: flex;
    width: 80%;
    padding: 3%;
    text-align: center;
}

#booking-btn{
    margin: auto;
}

.nav-parts-1{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
