.hotel-reg-form-div{
    margin: 4% auto 4%;
    width: 60%;
    padding: 3%;
    background: rgba(211, 211, 211, 0.3);
}

.hotel-reg-form-div-2{
    display: flex;
}

.hotel-reg-elements{
    flex: 1;
    text-align: center;
    color: white;
}

.home-title-3{
    text-align: center;
    color: #03002E;
    font-size: 1.5rem;
}

.home-title-4{
    text-align: center;
    color: #03002E;
    font-size: 1rem;
}

.hotel-labels-2{
    border: none;
    background-color: white;
    text-align: center;
    padding: 5px 10px;
    font-size: 1rem;
    color: #03002E;
}

.check-element-div{
    display: flex;
}

sup{
    color: red;
}

.amenities{
    height: 3%;
    width: 80%;
    padding: 8px 0;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.check-box-element{
    /* flex: 1 1 0;
    width: 0; */
}

.main-flex{
    display: flex;
    justify-content: center;
    column-gap: 5%;
}

.hotel-reg{
    margin-top: 80px;
}

h3{
    text-align: center;
}

h4{
    text-align: center;
}

.flex-2{
    display: flex;
    width: 80%;
    margin-left: 10%;
    justify-content: center;
    column-gap: 5%;
}

.h-address{
    width: 100%;
}

.btn-info{
    width: 10%;
    height: 8%;
    text-align: center;
    background-color: #03002E;
    color: white;
    border-radius: 20px;
    margin-left: 45%;
}

