.hotel-reg-form-div{
    margin: 4% auto 4%;
    width: 60%;
    padding: 3%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.hotel-reg-form-div-2{
    display: flex;
}

.hotel-reg-elements{
    flex: 1;
    text-align: center;
    color: white;
}

.home-title-3{
    text-align: center;
    color: #03002E;
    font-size: 1.5rem;
}

.home-title-4{
    text-align: center;
    color: #03002E;
    font-size: 1rem;
}

.hotel-labels-2{
    border: none;
    margin-bottom: 0;
    background-color: #D9D9D9;
    text-align: center;
    font-size: 1rem;
    color: #03002E;
}

.check-element-div{
    display: flex;
}

sup{
    color: red;
}

.amenities{
    height: 3%;
    width: 80%;
    padding: 8px 0;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.check-box-element{
    /* flex: 1 1 0;
    width: 0; */
}

.main-flex{
    display: flex;
    justify-content: center;
    column-gap: 5%;
}

.hotel-reg{
    /* margin-top: 80px; */
    background-color: white;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%), 0 5px 5px 0 rgb(0 0 0 / 24%);
    width: 80%;
    border-style: solid;
    border: 2px solid #03002E;
    padding-bottom: 30px;
    margin-left: 10%;
}

h3{
    text-align: center;
}

h4{
    text-align: center;
}

.flex-2{
    display: flex;
    width: 80%;
    margin-left: 10%;
    justify-content: center;
    column-gap: 5%;
}

.h-address{
    width: 100%;
}

.btn-info{
    width: 10%;
    height: 8%;
    text-align: center;
    background-color: #03002E;
    color: white;
    border-radius: 20px;
    margin-left: 45%;
}

#reg-form-span{
    color:#d0312D;
    margin-top: 0;
}

#hotel-reg-select{
    border: none;
    background-color: #D9D9D9;
    margin-bottom: 0;
}

#hotel-reg-text{
    border: none;
    background-color: #D9D9D9;
}

.hotel-amenities{
    display: flex;
    flex-direction: column;
}

.part-all{
    display: flex;
    width: 100%;
}

.sub-part{
    width: 33%;
}

/* .reg-grid-item{
    display: grid;
    grid-template-columns: 1fr 4fr;
} */

.reg-check{
    height: 1rem;
    text-align: right;
}