.profile{
    background-color: #E7F5FE;
}

.profile-div{
    background-color: #E7F5FE;
    height: 100%;
    width: 100%;
    float: right;
    margin-right: 0;
}

.profile-tags{
    text-align: left;
    width: 50%;
}

.profile-image{
    width: 30%;
    height: 60%;
    float: left;
    margin-left: 8%;
    text-align: center;
}

.profile-description{
    margin: 0;
    width: 60%;
    height: 60%;
    float: right;
    text-align: left;
}

#pro-picture{
    width: 400px;
}

.profile-btn{
    
}