body{
    background-image: url('img/ezgif.com-gif-maker.png');
    background-color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.side-bar{
    width: 40%;
    height: 60%;
    float: right;
    margin-right: 10%;
    border-radius: 20px;
    text-align: center;
    background-color: rgb(255,255,255,0.3);
}

.left-side-bar{
    width: 40%;
    height: 60%;
    float: left;
    margin-left: 8%;
    margin-top: 5%;
}

.vertical{
    border-left: 6px solid black;
    height: 100px;
    left: 50%;
}

.start-btn{
    height: 60px;
    width: 20%;
    background-color: #03002E;
    color: white;
    border-radius: 10px;
}

.start-btn:hover{
    height: 60px;
    width: 20%;
    background-color: #00C895;
    color: black;
    border-radius: 10px;
}