body{
    background-image: url('img/ezgif.com-gif-maker.png');
    background-color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.side-bar{
    width: 40%;
    height: 60%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
    text-align: center;
}

.left-side-bar{
    width: 40%;
    height: 60%;
    float: left;
    margin-left: 8%;
    margin-top: 5%;
}

.vertical{
    border-left: 6px solid black;
    height: 100px;
    left: 50%;
}

.start-btn{
    height: 40px;
    width: 20%;
    background-color: #03002E;
    color: white;
    border-radius: 10px;
}

.start-btn:hover{
    background-color: #e8b122;
    color: #03002E;
    border-radius: 10px;
}