.top{
    width: 100%;
    height: 12%;
    z-index: 9999;
    left: 0px;
    top: 0px;
    position: fixed;
    background-color: #03002E;
}

.system-nav-main{
    height: 80%;
    width: 95%;
    padding: 8px 0;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-main{
    height: 80%;
    width: 80%;
    padding: 8px 0;
    margin: auto;
    display: flex;
    justify-content: space-between;
}   

#home-ads{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
}

.nav-main-hotel-room{
    height: 12.5%;
    width: 80%;
    padding: 8px 0;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.nav-parts-hotel-room{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.nav-logo-container{
    text-align: center;
    padding: 16px 0;
    height: 50%;
} 
.nav-text-links {
    display: flex;
    width: 40%;
}

.nav-parts{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* line-height: 100%; */
    /* transform: translate(-50%, -50%); */
    color: white;
}

#logo{
    margin-left: 0%;
    margin-right: 0%;
    height: 100%;
}

.logo-container{
    width: 12%;
    height: 50%;
    margin-left: 3%;
    margin-top: 1.2%;
    margin-bottom: 45px;
    float: left;
}

#nav-btns{
    color: white;
    font-size: 1.24rem;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.4s;
}

#nav-btns:hover{
    color: #e8b122;
}

#nav-btns:active{
    color: #e8b122;
}

.nav-btns{
    height: 60px;
    background: #FFF;
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 10px;
    font-size: 20px;
    padding: 12px;
    margin-left: 10px;
}

.nav-btns:hover{
    background-color: #e8b122;
    color: #03002E;
    font-weight: 700;
    cursor: pointer;
    transition: 0.4s;
}

/*Commented part*/

.nbtns{
    width: 8%;
    /* height: 100%; */
    padding: 10px;
    background: #03002E;
    border: 2px solid #35BCBF;
    border-radius: 1000px;
    color: white;
    margin-top: -4%;
}

.nbtns:hover{
    background-color: #35BCBF;
    color: #03002E;
    float: left;
}

.profile-menu-wrap{
    position: absolute;
    top: 95%;
    right: 0%;
    width: 375px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.profile-menu-wrap.open-menu{
    max-height: 400px;
}

.user-menu{
    background: #03002E;
    padding: 20px;
    margin: 10px;
    border-radius: 18px;
}
.user-info{
    color: #03002E;
    align-items: center;
}
.user-info h2{
    font-weight: 500;
}
.sub-link-menu{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
    margin: 12px 0;
}

.sub-link-menu h2{
    width: 100%;
    text-align: justify;
}
.sub-link-menu span{
    font-size: 22px;
}
.sub-link-menu img{
    width: 40px;
    background-color: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}

.sub-link-menu:hover span{
    transform: translateX(5px);
}

.sub-link-menu:hover h2{
    font-weight: 600;
}
