.request-list{
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    width: 40%;
    border: 1px solid #d3d3d3;
}

.request-list .post-header{
    padding: 10px;
    font-weight: 600;
    border-bottom: 1px solid #d3d3d3;

}

.request-list .post-body{
    padding: 20px;
    font-size: 28px;
}

.request-list .post-body .post-by{
    padding: 20px;
    font-size: 14px;
    font-family: 'Courgette', cursive;
}

.request-list .request .request-footer{
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding-left: 10%;
    padding-right: 10%;
    
}

#request-delete-btn{
    box-sizing: border-box;

    width: 185px;
    height: 50px;

    background: red;
    color: white;
    border: 2px solid white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
}

#request-edit-btn{
    box-sizing: border-box;
    width: 185px;
    height: 50px;
    background: yellow;
    color: black;
    border: 2px solid white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
}

#request-offer-btn{
    box-sizing: border-box;
    width: 185px;
    height: 50px;
    background: green;
    color: black;
    border: 2px solid white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
}

#request-data{
    margin-left: 20px;
}