.taxi_login_cont{
    
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    left: 50%;
    transform: translate(-50%,0%);



    width: fit-content;
    padding: 2em;
    /* padding-bottom: 2em; */
    border: solid 1px #D9D9E9;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    
    
}

#taxi_v_login_p{
    text-align: center;
    font-size: x-large;
}


.taxi_login_div{

    border: 1px solid #000;
    padding:2em;
    margin-top: 3em;
   
}
.taxi_login_form{
    display: grid;
    justify-content: center;
}

.taxi_login_form > input{
    all: unset;
    background-color: #D9D9D9;
    height: 3em;
    border: solid 1px #03002E;
    width:25em ;
    border-radius: 0.3em;
    
    margin-top: 2em;


}

#taxi_login_img{
    width: 80%;
}

#taxi_login_but{
    margin-top: 1.5em;
    position: relative;
    left: 50%;
    transform: translate(-50%,0%);


    height:3em;
    width:8em;
    color: #fff;
    font-weight: bold;
    font-size: larger;

    border-radius: 10em;
    background-color:#03002E;
    border-color: #35BCBF;
}

#taxi_login_but:hover{
    background-color:#33337d;
}