.taxi_sign_cont{
    position: relative;
    left: 50%;
    transform: translate(-50%,0%);

    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

    margin-top: 10em;
    margin-bottom: 5em;

    width: fit-content;
    padding: 5em;

    display: flex;
    justify-content: center;
    /* margin-top: 30%;
    margin-bottom: 30%; */

}

.taxi_sign_left > p{
    text-align: center;
    font-size: 2em;
   
}

.taxi_sign_left{
    /* position: relative;
    top: 30%; */

    margin-top: 5em;
}

#taxi_sign_img{
    width: 100%;
    
   
}

.taxi_sign_ryt{
    border:1px solid #03002E;
    padding: 2em;
    
}

.taxi_sign_form > input{
    background-color: #D9D9D9;
    height: 3em;
    border: solid 1px #03002E;
    width:25em ;
    border-radius: 0.3em;

    margin-top: 1em;
}

#taxi_sign_but{
    margin-top: 1.5em;

    position: relative;
    left: 50%;
    transform: translate(-50%,0%); 

    height: 3em;
    width:8em;

    color: #fff;
    font-weight: bold;
    text-align: center;

    border-radius: 10em;
    background-color:#03002E;
    border-color: #35BCBF;

}

#taxiowncreate_but:hover,#taxi_sign_but:hover{
    background-color: #33337d;
}

