

/* ..................... Taxi View Drivers ......................... */

#taxi_dri_pro_pic{
    border-radius: 50%;
}
.taxi-view-driver-dash{

    width: 60%;
    padding: 1em;
    margin-top: 2em;
    margin-left: 2em;
    background-color: #D9D9D9;
}

.tax_dri_art{
    display: inline-flex;
}

#taxi_view_d_p{
    font-weight: bold;
}

#taxi_v_c_pic{
    width: 15em;
}