







/* .............Taxi vehicle edit style ................. */








.tax_vech_view_cont{
    
    display: grid;
    justify-items: center;
    
}

.tax-vec-sp-cont{
    /* display: flex;
    justify-items: center;
    justify-content:center;
    gap: 10em; */
    
}

.taxi_veh_grid_edit_cont{
    background: rgba(211, 211, 211, 0.3);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    display: flex;
}

.taxi_veh_editBut_cont{
   display: flex;
   justify-content: center;
}

.taxi_dash_edit_veh{
    display: grid;
    justify-items: center;
    height: fit-content;
    padding: 1em;
}



.tax_book_viewTable input{
    width: 8em;
}


#tax-dash-view-veh-img{
    width: 15em;
}

#taxi-dash-vec-view-slt {
    width: 9em;
}


