.trip-details{
    
    margin: 6% auto;
}

.trip-details .form-div{
    border: 2px solid black;
    border-radius: 10px;
    margin: auto;
    padding: 4% 1%;
    width: 60%;
    background-color: white;
}

.trip-details .btn-div{
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    
}

.trip-details-view{
    display: none;
    margin: 0 auto;
}

.trip-details-view .form-div{
    border: 2px solid black;
    border-radius: 10px;
    margin: auto;
    padding: 1% 1%;
    width: 78%;
    background-color: white;
}

.trip-details-view .form-div .flex-2{
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: space-between;
    margin-left: 0;
}

.trip-name{
    margin: 1% 0px;
    width: 100%;
}

.trip-location{
    margin: 1% 0px;
    width: 100%;
}

.trip-startdate{
    width: 100%;
    margin: 1% 0px;
}

.trip_enddate{
    width: 100%;
    margin: 1% 0px;
}

.trip_edit_button{
    width: 100%;
}

.trip-details-view .form-div .flex-2 .trip_edit_button .trip-edit-btn{
    width: 50%;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    color: white;
    background-color: #005782;
    cursor: pointer;
    margin-top: 2%;
    margin-left: 10%;
}

.trip-details-view .form-div .flex-2 .trip_edit_button .trip-edit-btn:hover{

    width: 50%;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    color: black;
    background-color: #F2ECFF;
    cursor: pointer;
    margin-top: 2%;
    /* margin: auto; */
    margin-left: 10%;
    border: 2px solid #005782;
}

.plan-div{
    display: none;
}

.plan-table-container{
    margin: 40px 10% 40px;
}

.plan-table{
    width: 100%;
    border-collapse: collapse;
    min-height: 700px;
}

.plan-table thead{
    background-color: #03002E;
}

.plan-table thead tr th{
    width: 33%;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.35px;
    color: #FFFFFF;
    opacity: 1;
    padding: 12px;
    vertical-align: top;
    border: 1px solid #dee2e685;
}

.plan-table tbody tr td{
    width: 33%;
    font-size: 14px;
    letter-spacing: 0.35px;
    font-weight: normal;
    color: black;
    background-color: #f1f1f1;
    padding: 8px;
    text-align: center;
    border: 1px solid #dee2e685;
}

#hotel-column{
    background-color: rgb(3,0,46,0.3);
}

#taxi-column{
    background-color: rgb(232,177,34,0.3);
}

#guide-column{
    background-color: rgb(42, 157, 143,0.3);
}

.plan-table tbody tr td .btn{
    width: 130px;
    text-decoration: none;
    line-height: 35px;
    display: block;
    background-color: #ff1046;
    
}

.plan-item-add-button{
    width: 60%;
    height: 60px;
    text-align: center;
    border-radius: 10px;
    color: white;
    background-color: #03002E;
    cursor: pointer;
    margin-top: 4%;
}

.create-plan-btn{
    width: 10%;
    height: 60px;
    text-align: center;
    border-radius: 10px;
    color: white;
    background-color: #005782;
    cursor: pointer;
    margin-top: 2%;
}

.create-plan-btn:hover{
    width: 10%;
    height: 60px;
    text-align: center;
    border-radius: 10px;
    color: black;
    background-color: #F2ECFF;
    cursor: pointer;
    margin-top: 2%;
    border: 2px solid #005782;
}

